.carousel-item img {
  height: 100vh;
  object-fit: contain;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
  visibility: hidden;
}
.carousel-control-prev {
  position: fixed;
  left: 0;
  top: 65px;
}
.carousel-control-next {
  position: fixed;
  right: 0;
  top: 65px;
}
#carouselExampleControls i {
  position: relative;
  z-index: 1;
  font-size: 95px;
  color: rgba(241,250,60, 1);
}
