:root {
  --accent-color: rgba(241,250,60, 0.8);
  --overlay-color: rgba(24, 39, 51, 0.65);
  --primary-color: #aa26da;
  --menu-speed: 0.5s;
  --orange: #fa7d09;
  --white: #f9f6f7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.theme {
  color: #282828;
  /* background-color:#f9f9f9; */
  background-color: var(--white);
}
.transparent {
  background-color: transparent;
}

/* home section */
header {
  padding: 2%;
  padding-bottom: 2.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 65px;
  width: 100vw;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,.1);
}
#home header {
  background-color: var(--white);
  font-family: 'Arimo', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

/* strikethrough line animation */
.navbar ul li a {
  text-decoration: none;
}
#home a {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#home a:before, a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3%;
  top: 50%;
  margin-top: -0.5px;
  background: var(--accent-color);
}

#home a:before {
  left: -20%;
}
#home a:after {
  right: -20%;
  background: var(--accent-color);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#home a:hover:before {
  background: var(--accent-color);
  width: 140%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  left: -20%;
}

#home a:hover:after {
  background: transparent;
  width: 120%;
  transition: 0s;
}
header a {
  color: black;
}
header a:hover {
  color: black;
  text-decoration: none;
}

/* home slider */
.front-carousel {
  position: relative;
  top: 30px;
  z-index: -1;
}


/* footer */
#footer .container {
  text-align: center;
  padding: 7% 1% 1% 1%;
  font-size: 10px;
}
